# Docker Compose Environment Variables
# Copy to .env and customize for your environment
SERVER_PORT=8080
SERVER_TOKEN=GENERATE-WITH-openssl-rand-hex-32
DISCOVERY_TAG_KEY=monitoring
DISCOVERY_TAG_VALUE=enabled
DISCOVERY_LINUX_PORT=9100
DISCOVERY_WINDOWS_PORT=9182
DISCOVERY_REFRESH_INTERVAL=5m

# Host Volume Mount Paths
# Path to config.yaml it contains OCI credentials - mounted read-only
OCI_CONFIG_PATH=./config.yaml
OCI_KEYS_PATH=./oci-keys